.search-poke{
    background: none;
    border:none;
    outline: none;
}

.search{
    background: lightgray;
    border-radius: 50px;
    padding: 1em 2em;
    width:auto;
}

.search-icon{
    margin-right: 2px;
}

.pokemons{
    margin-top:7em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.pokemon{
    border-radius: 10px;
    border: 1px solid lightgray;
    padding: 4px;
}

.App{
    padding-top: 5em;
    padding-left : 5em;
    padding-right: 5em;
}

.type-list{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-bottom: 20px;
    overflow-x: scroll;

}