/* Couleurs de type Pokémon */
:root {
    --normal-color: #A8A77A;
    --fire-color: #EE8130;
    --water-color: #6390F0;
    --electric-color: #F7D02C;
    --grass-color: #7AC74C;
    --ice-color: #96D9D6;
    --fighting-color: #C22E28;
    --poison-color: #A33EA1;
    --ground-color: #E2BF65;
    --flying-color: #A98FF3;
    --psychic-color: #F95587;
    --bug-color: #A6B91A;
    --rock-color: #B6A136;
    --ghost-color: #735797;
    --dragon-color: #6F35FC;
    --dark-color: #705746;
    --steel-color: #B7B7CE;
    --fairy-color: #D685AD;
    --unknown-color:#4f8071;
    --shadow-color:black;
    --all-color:black;
}

/* Define individual styling for each type */
.normal {
    --color: var(--normal-color);
}

.fire {
    --color: var(--fire-color);
}

.water {
    --color: var(--water-color);
}

.electric {
    --color: var(--electric-color);
}

.grass {
    --color: var(--grass-color);
}

.ice {
    --color: var(--ice-color);
}

.fighting {
    --color: var(--fighting-color);
}

.poison {
    --color: var(--poison-color);
}

.ground {
    --color: var(--ground-color);
}

.flying {
    --color: var(--flying-color);
}

.psychic {
    --color: var(--psychic-color);
}

.bug {
    --color: var(--bug-color);
}

.rock {
    --color: var(--rock-color);
}

.ghost {
    --color: var(--ghost-color);
}

.dragon {
    --color: var(--dragon-color);
}

.dark {
    --color: var(--dark-color);
}

.steel {
    --color: var(--steel-color);
}

.fairy {
    --color: var(--fairy-color);
}

.unknown {
    --color: var(--unknown-color);
}

.shadow {
    --color: var(--shadow-color);
}

.all {
    --color: var(--all-color);
}

.search-poke{
    background: none;
    border:none;
    outline: none;
    width:98%;
}

.search{
    background: lightgray;
    border-radius: 50px;
    padding: 1em 2em;
    width:auto;
}

.search-icon{
    margin-right: 2px;
}

.pokemons{
    width: 95%;
    margin-top:3em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 35px;
    justify-content: center;
}

.pokemon{
    position: relative;
    width:18em;
    border-radius: 20px;
    border: 1px solid lightgray;
    padding-right: 14px;
    padding-left: 14px;
    transition-timing-function: ease;
    transition-duration: 0.7s;
    cursor:pointer;
    background-color: var(--color);
    color:black;
}


.App{
    padding-top: 5em;
    padding-left : 5em;
    padding-right: 5em;
}

.type-list{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-bottom: 20px;
    overflow-x: scroll;
}

.type-button{
    min-width: 6em;
    max-width: 6em;
    height: 3em;
    background: white;
    border-radius: 20px;
    transition-timing-function: ease;
    transition-duration: 0.7s;
}

.poke-number{
    text-align: end;
    margin-right: 2px;
    font-size: 18px;
    color: black;
    transition-timing-function: ease;
    transition-duration: 0.7s;
}

.type{
    width: 4em;
    border-radius:12px;
    padding: 5px;
    background: #ffffff4d;
}

.poke-body{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.poke-types{
    width: 50%;
    text-align: center;
}

.poke-image{
    width: 50%;
}

.pokeball-img{
    position: absolute;
    top: 120px;
    right: -30px;
}

/* Apply the defined styles to each type button */
.type-button {
    border: 2px solid var(--color);
    color: var(--color);
    box-shadow: 3px 5px var(--color);
}

/* Additional styling for unselected buttons */
.type-button.selected {
    box-shadow: none;
}

.type-button:hover,
.type-button.selected {
    background-color: var(--color);
    color: white;
}

.type-button:hover{
    cursor:pointer;
    box-shadow: none;
}

.image-poke{
    transition-timing-function: ease;
    transition-duration: 0.5s;
    position: relative;
    top:10px;
    z-index: 2;
}

.pokeball-img{
    transition-timing-function: ease;
    transition-duration: 0.5s;
}

.pokemon:hover .image-poke{
    transform: scale(1.25);
}

.pokemon:hover > .poke-number{
    color:white;
}

.pokemon:hover .pokeball-img{
    transform: rotate(45deg);
}

