@keyframes rotateScale {
    from {
        transform: scale(1) rotate(0deg);
    }
    to {
        transform: scale(1.25) rotate(-30deg);
    }
}
.pokemon-wrapper{
    background-color: var(--color);
    padding-bottom: 8em;
    margin: 0;
    z-index: 0;
}

.pokemon-details{
    border-radius: 30px;
    background-color: #ffffff;
    padding: 1em 4em;
    z-index: 2;
    max-width: 75%;
    margin: 0 auto;
}

.pokemon-bar{
    display: flex; /* Utilise Flexbox */
    justify-content: space-between; /* Répartit l'espace uniformément entre les éléments */
    margin: 20px 10em;
}

.pokemon-bar button{
    text-decoration: none;
    background-color: transparent;
    border: transparent;
    cursor: pointer;
    font-size: 20px;
    color: darkgray;
}

.pokemon-bar button:hover{
    color: black;
    transition: color 0.5s ease;
}

.tab-icon{
    font-size: 15px;
}

.bar-title{
    display: flex; /* Active Flexbox */
    align-items: center; /* Centre les éléments verticalement */
    gap: 8px; /* Ajoute un peu d'espace entre les éléments */
    font-size: 25px;
}

.poke-measurements{
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:30px;
}

.poke-measurements div{
    text-align: center;
}

.poke-weight{
    margin-right: 8em;
}

.poke-height{
    margin-left: 8em;
}

.poke-measurements-title{
    color: grey;
}

.poke-description{
    font-weight: lighter;
    text-align: center;
    font-size: 20px;
    margin-top:1.5em;
    margin-bottom: 2em;
}

.poke-characteristic{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:8px;
    height:35px;
}

.poke-characteristic-name{
    color: grey;
    margin-right: 15px;
    width: 8em;
}

.poke-ability{
    background-color: lightgrey;
    padding: 5px 5px;
    border-radius: 5px;
}

.pokemon-container{
    margin: 0 auto;
    padding-top:8em;
    max-width: 60%;
    z-index: 2;
    width: 60%;
}

.pokemon-main-image{
    display: flex; /* Utilise Flexbox pour aligner les enfants horizontalement */
    align-items: center; /* Centre les éléments verticalement dans le conteneur */
    justify-content: center; /* Centre les éléments horizontalement dans le conteneur */
    position: relative;
    top:35px;
}

.pokemon-main-image-circle{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: #ffffff;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pokemon-previous-image, .pokemon-next-image {
    position: absolute;
}

.pokemon-previous-image {
    left: 200px; /* Aligner à gauche */
}

.pokemon-next-image {
    right: 200px; /* Aligner à droite */
}

.volume{
    cursor: pointer;
}

.volume:hover{
    animation: rotateScale 0.6s;
    animation-fill-mode: forwards;
}

.return-button{
    font-size: 40px;
    cursor: pointer;
}

.header{
    display: flex;
    justify-content: space-between;
}

.image-poke-hidden{
    filter:brightness(25%);
}

.image-poke-hidden:hover{
    transition: filter 0.5s ease-in-out;
    cursor: pointer;
    filter:brightness(0%);
}

.tab-active{
    color: black;
}

.poke-stat{
    display: flex;
    flex-direction: row;
    font-size: 1.2em;
}

.stat-name{
    color: grey;
    min-width: 12em;
}

.stat{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.stat-bar{
    width: 100%;
    background-color: lightgrey;
    margin-left: 30px;
    margin-top: auto;
    margin-bottom: auto;
}

.stat-bar, .stat-bar-filled{
    height: 0.3em;
    border-radius: 15px;
}

.evolution-specie{
    margin-top: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.evolution-method{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.pokemon-move{
    border-radius: 10px;
    border: 3px solid var(--color);
    padding: 1.5em 4em;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}

.pokemon-move-name{
    background-color: var(--color);
    padding: 10px;
    border-radius: 10px;
    width: fit-content;
}

.pokemon-move-characteristics{
    display: flex;
    flex-wrap: wrap;
    column-gap:30px;
    width: 70%;
}

.pokemon-move-characteristic{
    background-color: lightgrey;
    padding: 0 8px;
    border-radius: 8px;
    height: fit-content;
}

.pokemon-move-icon svg{
    fill: var(--color);
}

.pokemon-move-bottom{
    display: flex;
    justify-content: space-between;
}

.pokemon-moves{
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    overflow-y:scroll;
    max-height:800px;
}

.pokemon-location{
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap:15px;
}